
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  background-color: #bc5244;
}



.timer {
  font-size: 48px;
  color: #ffffff;
  font-weight: 1000;
  font-style: normal;
  position: relative;
  z-index: 10;
}

.squareBot {
  height: 25%;
  width: 85%;
  background-color: #ffffff;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: top;
  padding-top: 4%;
  align-items: center; 
}

.squareTop {
  height: 25%;
  width: 85%;
  background-color: #ffffff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 40px 0px rgba(0, 0, 0, 0.25);
  
}

.squareTop img {
display: block; /* Allows margin auto to be applied */
max-width: 110%; /* Ensures the image doesn't exceed the container's width */
max-height: 110%; /* Ensures the image doesn't exceed the container's height */
height: auto; /* Maintains the aspect ratio */
width: auto; /* Maintains the aspect ratio */
margin: bot; /* Centers the image horizontally */
position: absolute; /* Takes the image out of the document flow */
top: 59%; /* Positions the top edge of the image in the middle of the container */
left: 47%; /* Positions the left edge of the image in the middle of the container */
transform: translate(-50%, -50%); /* Offsets the image by half its width and height to truly center it */
z-index: 500;
}


.info {
  font-size: 190%;
  font-weight: 1000;
  font-style: normal;
}

.textInsideShadow {
  position: absolute;
  bottom: -29%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: #dbcbcb;
}

.timer-container {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-svg {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
  position: absolute;
  top: 0;
  left: 0;
}

.timer-circle {
  fill: none;
  stroke-width: 10;
  stroke: rgb(255, 255, 255);
  stroke-dasharray: 282.6;
  stroke-dashoffset: 0;
}

.timer {
  font-size: 48px;
  color: #ffffff;
  font-weight: 1000;
  font-style: normal;
  position: absolute;
  z-index: 10;
}



.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* Semi-transparent black background */
  backdrop-filter: blur(5px); /* Blurs the content behind the modal */
}


/* Modal Content Box */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 75%; /* Could be more or less, depending on screen size */
  height: 70%;
  border-radius: 15px; /* Adjust if you want rounded corners */
}

.modal-square {
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
  background-color: rgb(229, 226, 229); 
  width: 100%; /* Full width of the modal content */
  height: 40%; /* Adjust the height as needed */
  border-radius: 15px;
  position: relative;
  
}

.modal-square .info {
  font-size: 18px; /* Or any other size you prefer */
  font-weight: 1000;
  font-style: normal;
  z-index: 99;
}

.modal .wave-box {
  position: absolute;
  z-index: 80;
}


.modal-image {
  display: block; /* Allows margin auto to be applied */
  max-width: 40%; /* Ensures the image doesn't exceed the container's width */
  max-height: 40%; /* Ensures the image doesn't exceed the container's height */
  height: auto; /* Maintains the aspect ratio */
  width: auto; /* Maintains the aspect ratio */
  margin: bot; /* Centers the image horizontally */
  position: absolute; /* Takes the image out of the document flow */
  top: 75%; /* Positions the top edge of the image in the middle of the container */
  left: 50%; /* Positions the left edge of the image in the middle of the container */
  transform: translate(-50%, -50%); /* Offsets the image by half its width and height to truly center it */
  z-index: 5;
  
}

.red-square {
  position: absolute;
  top: 85%;
  left: 10%;
  display: block;
  width: 80%; /* Adjust as needed */
  padding: 10px 20px; /* Padding for the button */
  margin: 20px auto; /* Center the button */
  background-color: #b93c34; /* Button color */
  color: white; /* Text color */
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.centered-text {
  text-align: center; /* Centers text horizontally */
  width:  100%; /* Ensures the paragraph takes up the full width of its container */
  margin: 5; /* Removes any default margin */
  /* Add more styling as needed */
}


.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.wave-box {
  position: absolute;
  width: 100%;
  height: 10%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 1; 
}

.color-wave-box {
  height: 30%;
}

.waves .wave {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
  
}

.wave#wave1 {
  top: 0px;
  z-index: 1000;
  opacity: 1;
  bottom: 10;
  background: url('../img/blacktest.png');
  animation: animateWave 36s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 1;
  bottom: 10;
  background: url('../img/blacktest.png');
  animation: animateWave_02 36s linear infinite;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 1;
  bottom: 15;
  background: url('../img/blacktest.png');
  animation: animateWave 24s linear infinite;
}

.wave#wave4 {
  background: url('../img/blacktest.png');
  z-index: 999;
  opacity: 1;
  bottom: 20;
  animation: animateWave_02 24s linear infinite;
}

.wave#wave5 {
  top: -50px;
  z-index: 1000;
  opacity: 1;
  bottom: 10;
  background: url('../img/blacktest.png');
  animation: animateWave 36s linear infinite;
}

.wave.color-wave#wave1 {
  background: url('../img/red-ribbon.png');
}

.wave.color-wave#wave2 {
  background: url('../img/red-ribbon.png');
}

.wave.color-wave#wave3 {
  background: url('../img/yellow-ribbon.png');
}

.wave.color-wave#wave4 {
  background: url('../img/yellow-ribbon.png');
}

@keyframes animateWave {
    0% {
      background-position-x: 800px;
    }
    100% {
      background-position-x: 0px;
    }
  }

  @keyframes animateWave_02 {
    0% {
      background-position-x: 0px;
    }
    100% {
      background-position-x: 800px;
    }
  }


#word {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
}

#time, #date {
  font-size: 25px;
  font-weight: 9000;
  font-style: normal;
}