<style>
  body {
    margin: 0;
    padding: 0;
  }
  
  .top {
    background-color: red;
    height: 30px;
  }
  
  .midtop {
    background-color: #ef933c;
    height: calc(50% - 60px);
  }
  
  .midbot {
    background-color: #ed8224;
    height: calc(50% - 60px);
  }
  
  .bottom {
    background-color: white;
    height: 30px;
  }
</style>
